{% extends 'base.html' %}

{% block content %}
<div class="container display-image">
    <div class="row">
        <div class="col-md-12 single-image">
            <img src="{{image.image_path.url}}" alt="{{image.name}}">
        </div>
        <div class="col-md-12 single-text">
            <h3> {{image.name}} </h3>
            <p> {{image.description}} </p>
            <p>{{ image.pub_date }}</p>
            <p>{{ image.location }}</p>
            <p>{{ image.category }}</p>
        </div>
    </div>
    <hr>
    <input type="text" value="https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" id="myInput">
    <button onclick="myFunction()">Copy url</button>
   
{% endblock %}